@CHARSET "UTF-8";
#footer_bg{
	background-image:url(../img/footer.jpg); 
	width=100%;
	height: 80px;
}
#login_bg{
	background:#FF2C4C url(../img/loginbg.jpg) no-repeat;
	width=100%;
	padding: 50px;
}
#login_container{
	background-color: #FFFFFF; 
	padding: 30px;
}
.wordsSearch{
			width:242px;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
}